.settings {
    $topBarDarkBlue: #5F7FB7;
    $topBarLightBlue: rgb(224, 224, 250);

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $topBarDarkBlue),
    color-stop(100%, $topBarLightBlue));
    color: color($colors,dark);
    margin-top: 30px;

}
