$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

$colors: ( 
    primary: #071169, 
    secondary: #1eff00, 
    tertiary: #97f07c,
    fournary: #9cf3e7,
    danger: #f53d3d, 
    light: #f4f4f4, 
    purelight: #fff,
    dark: #222,
    lightblue:rgb(29, 46, 204)
);

//top toolbar
$toolbar-md-background:color($colors, primary);

//bottom tabs
$tabs-background:color($colors,lightblue);

//bottom tabs active color
$tabs-md-tab-color-active:color($colors,secondary);

//bottom tabs inactive color
$tabs-md-tab-color-inactive:color($colors,light);

//toolbar active color
$toolbar-md-tab-color-active:color($colors,secondary);

//tabs text color
$tabs-md-tab-text-color:color($colors,purelight);

//list background color
$list-md-background-color:color($colors,tertiary);

//list text color
$list-text-color:color($colors,dark);




@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";